<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>注册</title>
        <link rel="stylesheet" href="/css/regist.css" type="text/css" />
        <script src="/js/regist.js"></script>
    </head>
    <body>
        <div class="content">
            <div class="returnlogo">
                <img src="/css/images/logo.png" alt="今日头条" onclick="window.location.href='index.html'" style="width: 108px; height: 27px;">
            </div>
            <div class="registtext">
                <img src="/css/images/registtitle.png" alt="">
            </div>
            <div class="loginbox">
                <form th:action="@{/regist}" method="post" onsubmit="return registfunc();">
                    <input id="username" type="text" name="name" class="registusername" placeholder="  用户名">
                    <input id="password" type="password" name="password" class="registusername" placeholder="  密码">
                    <input id="checkpassword" type="password" name="certainPassword" class="registusername" placeholder="  确认密码">
                    <input id="phonenumber" type="text" name="phone" class="registusername" placeholder="  手机号码">
                    <div class="varify">
                        <input id="varification" type="text" name="certainPhone" class="registvarify" placeholder="  手机验证码">
                        <button id="varifybtn" type="button" class="varification" onclick="getvarifycode()">获取验证码</button>
                    </div>
                    <input type="text" style="display:none;" name="varify" id="varify">
                    <input id="registbtn" type="submit" class="registbtn" value="注册">

                </form>
                <p id="alertion" class="alertion" th:text="${login}"></p>
            </div>
        </div>
    </body>
</html>